<footer>
  <div id="footer" class="d-flex justify-content-around">
    <%= image_tag 'logo.png', width: 300, height: 160  %>
    <div class="d-flex flex-column justify-content-center">
      <p class="footer-header" id="footer-title">Aber<span>PAT</span></p>
      <!-- <p>Business No: XYZ</p> -->
      <p class="footer-header">Registered address:</p>
      <p class="footer-p">4 Albury View,</p>
      <p class="footer-p">Fonthill Road,</p>
      <p class="footer-p">Ferryhill</p>
      <p class="footer-p">Aberdeen - AB11 6TE</p>
    </div>
    <div class="d-flex flex-column justify-content-center">
      <p class="footer-header" id="telephone">Telephone:</p>
      <p class="footer-p">07760668495</p>
      <p class="footer-header" id="email">Email</p>
      <p class="footer-p">enquiries@aberpat.com</p>
    </div>
  </div>
</footer>
