<div class="container-fluid hero text-center d-flex flex-column justify-content-center">
  <h1>Welcome to AberPAT</h1>
  <p>Convenient & Quality Service You Can Rely On</p>
</div>
<div class="container d-flex flex-column justify-content-around text-center px-2 " id="sales-pitch">
  <h3>We strive to be a market leader with a quality and reliable PAT Testing service in Aberdeen</h3>
  <p>We are a small local business operating all over Aberdeen & Aberdeenshire. Whether you are a business owner, sole trader or landlord, either onshore or offshore, we are here to help you any way we can. We use the latest in battery-powered machines, ensuring no damage to any potentially sensitive items, testing a wide range of either 110v or 240v equipment.</p>
</div>
<div class="container-fluid pb-5" id="cards-box">
  <div class="row">
    <div class="col mx-4">
      <div class="row feature-card-wrapper">
        <div class="col-4 d-flex flex-column justify-content-center">
          <i class="fas fa-dove fa-5x"></i>
        </div>
        <div class="col-8 d-flex flex-column justify-content-start pt-3">
          <h5>Flexible</h5>
          <p>We understand that you may want us to work outside normal office hours.</p>
        </div>
      </div>
    </div>
    <div class="col mx-4">
      <div class="row feature-card-wrapper">
        <div class="col-4 d-flex flex-column justify-content-center">
          <i class="fas fa-tools fa-5x"></i>
        </div>
        <div class="col-8 d-flex flex-column justify-content-start pt-3">
          <h5>Internal Examination</h5>
          <p>Every single plug (non-moulded) we test undergoes an internal inspection.</p>
        </div>
      </div>
    </div>
    <div class="col mx-4">
      <div class="row feature-card-wrapper">
        <div class="col-4 d-flex flex-column justify-content-center">
          <i class="fas fa-check-double fa-5x"></i>
        </div>
        <div class="col-8 d-flex flex-column justify-content-start pt-3">
          <h5>Double Checking</h5>
          <p>To ensure safety of your electrical equipment, both visual examination and testing are essential to identify any defects.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-4">
      <div class="row feature-card-wrapper">
        <div class="col-4 d-flex flex-column justify-content-center">
          <i class="far fa-clock fa-5x"></i>
        </div>
        <div class="col-8 d-flex flex-column justify-content-start pt-3">
          <h5>No Rush</h5>
          <p>A quality PAT Testing job takes time and no corners should be cut.</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row feature-card-wrapper">
        <div class="col-4 d-flex flex-column justify-content-center">
          <i class="fas fa-user-shield fa-5x"></i>
        </div>
        <div class="col-8 d-flex flex-column justify-content-start pt-3">
          <h5>Protecting Lives</h5>
          <p>Ultimately this is about protecting staff from harm and businesses from liability. For peace of mind, our fees include all the time necessary to carry out thorough examinations.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid pt-5" id="about-me">
  <h4>Meet your engineer</h4>
  <div class="row justify-content-center">
    <div class="col-lg-3">
      <%= image_tag 'lewis.png', width: 206 %>
      <p class="subtitle">Lewis</p>
    </div>
    <div class=" col-9 col-sm-10 col-md-9 col-lg-7">
      <p>I got into this business because having serving my electrical apprenticeship when i was younger, electrical safety has always been an interest of mine. Starting a PAT Testing business has been in the back of my mind for years now, but with the recent global climate affecting my previous line of work, this has encouraged me to take the leap into now being self employed.</p>
      <p>I aim to provide an honest and reliable service in which you are more than happy with, and continue to use year upon year.</p>
    </div>
  </div>

</div>

