<div class="container-fluid hero text-center d-flex flex-column justify-content-center">
  <h1>Welcome to AberPAT</h1>
  <p>Convenient & Quality Service You Can Rely On</p>
</div>
<div class="container d-flex flex-column justify-content-around text-center px-2 " id="sales-pitch">
  <h3>We strive to be a market leader with a quality and reliable PAT Testing service in Aberdeen</h3>
  <p>We are a small local business operating all over Aberdeen & Aberdeenshire. Whether you are a business owner, sole trader or landlord, either onshore or offshore, we are here to help you any way we can. We use the latest in battery-powered machines, ensuring no damage to any potentially sensitive items, testing a wide range of either 110v or 240v equipment.</p>

</div>

<h4>Meet your engineer</h4>
<p>Lewis</p>
