<main>
  <div class="container" id="why">
    <h1>Why care about PAT Testing?</h1>
    <p class="subtitle mb-4">Are you neglecting electrical safety hazards in your workplace?</p>
    <%= image_tag 'PAT_2.jpg', width: 900, alt: 'Damaged electrical cable' %>
    <div class="text-column">
      <p>Portable Appliance Testing (PAT Testing) is way of checking whether your equipment is still safe to use, as it should be when it was new. Conditions of equipment change over time, but the PAT Test will check to see whether the equipment is still within acceptable limits.</p>
      <h3>The Legal Bit</h3>
      <p>Many people assume that PAT Testing itself is a legal requirement, this is incorrect. While there is no specific law enforcing PAT Testing to be carried out, there is a legal requirement to ensure all electrical systems (including Portable Appliances) are in safe working condition. Whether this be in the workplace, or a rented flat say. </p>
      <p>The Health and Safety at Work Act 1974 places the duty of care on the employer to ensure the safety of employees and other persons using the workplace. </p>
      <p>The Provision and Use of Work Equipment Regulations 1998 state:     </p>
      <p>‘Every employer shall ensure that work equipment is so constructed or adapted as to be suitable for the purpose for which it is used or provided.’</p>
      <p>‘Every employer shall ensure that work equipment is maintained in an efficient state, in efficient working order and in good repair.’</p>
      <p>The Electricity at Work Regulations 1989 state:</p>
      <p class="quote">“...as may be necessary to prevent danger, all systems shall be maintained so as to prevent, so far as reasonably practicable, such danger.”</p>
    </div>
  </div>
</main>
