#about-me {
  background-color: #C2D3CD;
  font-family: 'Roboto';
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  min-height: 500px;

  h4 {
    font-weight: 700;
    margin-bottom: 30px;
  }

  img {
    margin-top: 50px;
    margin-bottom: 8px;
    filter: grayscale(50%);
  }

  .subtitle {
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.00em;
  }

  p {
    text-align: justify;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.05em;
    line-height: 28px;
    }
}

// @media(max-width: 991px) {
//   #about-me {
//     padding-bottom: 200px;
//   }
// }