#prices-box {
  background: linear-gradient(116.05deg, #C2D3CD 33.87%, #FFFFFF 98.19%);
  font-family: Roboto;
  padding-bottom: 50px;

  h1 {
    padding-top: 50px;
    text-align: center;
  }

  .title-box {
    max-width: 680px;
  }

  .price-notes {
    font-size: 24px;
    color: #625F5F;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.05em;
  }

  // .price-card:nth-of-type(1) {
  //   margin-left: 0;
  // }

  .price-card:nth-of-type(1) i, .price-card:nth-of-type(1) .price-name  {
    color: rgba(0, 238, 81, 0.8);
;
  }

  .price-card:nth-of-type(2) i, .price-card:nth-of-type(2) .price-name {
    color: rgba(163, 189, 3, 0.8);

  }

  .price-card:nth-of-type(3) i, .price-card:nth-of-type(3) .price-name {
    color: rgba(244, 3, 3, 0.8);

  }

  .price-card:nth-of-type(4) i, .price-card:nth-of-type(4) .price-name {
    color: rgba(6, 30, 244, 1);

  }
  .price-card:nth-of-type(5) i, .price-card:nth-of-type(5) .price-name {
    color: rgba(100, 0, 148, 1);

  }
}

.price-card {
  background-color: #847E89;
  width: 217px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 20px;
  border-radius: 8px;
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.25);
  margin-bottom: 12px;
}

.price-name {
  font-size: 18px;
  text-transform: uppercase;
}

.price-description {
  font-size: 24px;
  font-weight: 900;
  color: #C2D3CD;
  line-height: 24px;
}

.price-description-microwave {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 300;
  color: #C2D3CD;
  line-height: 24px;
}

.price-price {
  font-size: 36px;
  font-weight: 900;
  color: #f9f9f9;
  margin-bottom: 0;
}

.price-uom {
  color: #f9f9f9;
  font-weight: 900;
  font-size: 18px;
  margin-top: -10px;
}

.good-to-know {
  font-family: 'Roboto';

  .pricing-details {
    background-color: #847E89;
    padding-left: 40px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 80px;

    .details-heading {
      color: rgb(249, 249, 249);
      font-weight: 500;
      font-size: 24px;
      letter-spacing: 0.05em;
      font-style: italic;
      margin-bottom: 0;
    }

    .details-detail {
      color: rgb(223, 223, 223);
      font-weight: 500;
      font-style: italic;
      font-size: 18px;
      letter-spacing: 0.05em;
      margin-bottom: 8px;
    }

    hr {
      // color: rgba(223, 223, 223, 1);
      border: 1px solid rgba(223, 223, 223, .6);
      margin-top: 0;
      margin-bottom: 0;
    }
      
    .details-footnote {
      color: rgb(194, 211, 205);
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.05em;
      margin-top: 50px;
      text-align: right;
    }
  }

  h3 {
    text-align: center;
    font-weight: 900;
    font-size: 46px;
    color: rgba(2, 2, 2, 0.7);
  }

  #price-notes-table {
    max-width: 702px;
  }

  .price-notes-title {
    background-color: #9FA4A9;
    color: rgb(226, 226, 226);
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.05em;
    font-style: italic;
    text-align: center;
    min-height: 60px;
    padding-top: 10px;
    margin-bottom: 0;
  }
}

img#microwave {
  color: yellow;
}

@media(max-width: 682px) {
  .title-box h1 {
    font-size: 30px;
    margin-bottom: 25px;
  }

  .price-notes {
    font-size: 18px !important;
  }

}

.spacer {
  display: block;
  color: #847E89;
}

.sixty {
  display: block
}