#sales-pitch {
  height: 200px;
  font-family: 'Roboto';
  font-style: italic;

  h3 {
    font-size: 24px;
    letter-spacing: 0.05em;
    color: rgba(0, 0, 0, 0.75);
  }

  p {
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
  }
}