#headerContact {
  background-color: #847E89;
  color: #FFFDFD;
  height: 88px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'Roboto';
  p {
    margin-left: 12px;
    font-size: 24px;
    font-weight: 300;
  }
}